.inputSize {
    width: auto;
}

.inputTxt {
    margin-bottom: 1rem;
}

.around {
    margin-top: 10rem;
}

.btnContainer {
    position: relative;
}

.btnLogin {
    float: left;
}

.btnLogout {
    float: right;
}

.txtCenter {
    text-align: center;
}

.errorText {
    color: red;
}

.clearFix {
    clear: both;
}
