html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.blank {
    width: auto;
    min-height: calc(100vh - 30px);
}

.empty {
    width: auto;
    height: 800px;
}

.border {
    border: 10px solid black;
}
