html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.blank {
    background-color: #eaeaea;
    width: auto;
    height: auto;
}

.empty {
    background-color: #eaeaea;
    width: auto;
    height: 800px;
}

.border {
    border: 1px solid #0070f3;
}
